@import "../../../app/partials/utils/variables";

.col-12 {
  background: #3366992b;
  color: $white;
  color: $black;
  cursor: pointer;
  @include centered;
  font-size: $size-small;
  padding: 3px;
  padding-bottom: 0;
  margin-bottom: 2vh;
  border-radius: 4px;
  &:hover {
      background: #3366994b;
  }

  .row {
      width: $full-percent;
      .col-lg-4:nth-child(1) {
          text-align: start;
          svg {
              margin-top: -3px;
          }
      }
      .col-lg-4:nth-child(2) {
          text-align: end;
      }
      .col-lg-4:nth-child(3) {
          text-align: end;
      }
  }
}
