@import '../../partials/utils/variables';

.block-course {
  background: #3366992b;
  color: $white;
  color: $black;
  cursor: pointer;
  @include centered;
  font-size: $size-small;
  padding: 10px;
  padding-top: 15px;
  margin-bottom: 2vh;
  border-radius: 4px;
  &:hover {
      background: #3366995b;
  }

  .row {
      width: $full-percent;
      .col-lg-3 {
          text-align: start;
          margin-bottom: 10px;
          svg {
              margin-top: -3px;
          }
      }
      .col-lg-7 {
          text-align: center;
          font-size: 1rem;
          word-spacing: 5px;
          letter-spacing: 2px;
      }
      .col-lg-2 {
          text-align: end;
      }
      .col-lg-12 {
        text-align: end;
        button {
          background: #3366992b;
          a {
            text-decoration: none;
            color: $black;
          }
        }
      }
  }

}
