@import '../../partials/utils/variables';

h5 {
  color: #4A4B4B;
  margin-bottom: 5vh;
  text-align: center;
  .serviceNumberTitile {
      font-size: 2.5rem;
      color: #336699;
      font-weight: bold;
  }
}
